asr/sample
*.flac
beit3/__pycache__
beit3/get_started
beit3/tokenizer/wikiextractor
beit3/tokenizer/kowiki-latest-pages-articles.xml.bz2
beit3/tokenizer/merge_text.txt
images
models/beit3_base_indomain_patch16_224.zip
models/beit3_large_indomain_patch16_224.zip
train_labels
valid_labels
tts/*
*.json
*.txt
beit3/log
beit3/*.out
__pycache__/
beit3/finetune_checkpoint_large_indomain/
beit3/finetune_checkpoint